/*================ Font Variables ================*/

// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

$main-font: 'Helvetica', sans-serif;
$sub-font: 'Helvetica', sans-serif;
$body-font: 'Helvetica', sans-serif;

/*================ Type Variables ================*/

$heading-font-one-d: 2.250em; // 36px;
$heading-font-two-d: 1.875em; // 30px;
$heading-font-three-d: 1.750em; // 28px;
$heading-font-four-d: 1.313em; // 21px;
$heading-font-five-d: 1.125em; // 18px;
$heading-font-six-d: 0.750em; // 12px;

$heading-font-one-m: 1.875em; // 30px;
$heading-font-two-m: 1.750em; // 28px;
$heading-font-three-m: 1.313em; // 21px;
$heading-font-four-m: 1.125em; // 18px;
$heading-font-five-m: 1.000em; // 16px
$heading-font-six-m: 0.750em; // 12px;

$body-size-d: 1.000em; // 16px
$body-size-m: 0.875em; // 14px
$body-size-xs: 0.750em; // 12px

/*================ Type Line Height Variables ================*/

$heading-font-one-lh: 1.2;
$heading-font-two-lh: 1.2;
$heading-font-three-lh: 1.2;
$heading-font-four-lh: 1.2;
$heading-font-five-lh: 1.2;
$heading-font-six-lh: 1.2;
$paragraph-lh: 1.3;

/*================ Font Weight Variables ================*/

$font-weight-l: 300;
$font-weight-n: 400;
$font-weight-b: 600;

/*================ Colour Variables ================*/

$main-color: #000000;
$body-color: #000000;
$sub-color: #000000;
$white: #ffffff;
$default: #333333;

/*================ Media Query Type Variables ================*/

$media-max: max-width;
$media-min: min-width;

/*================ Grid Variables – http://gridcalculator.dk/ ================*/

// Grid Breakpoints
$grid-breakpoint-1: 1280px;
$grid-breakpoint-2: 1080px;
$grid-breakpoint-3: 768px;

// Grid Container Widths
$grid-container-width-1: 1180px;
$grid-container-width-2: 980px;
$grid-container-width-3: 750px;

// Grid Gutter Size
$gutter-width: 20px;

// Responsive Breakpoint Variables
$xlarge-grid: 1440px;
$large-grid: 1200px;
$medium-grid: 992px;
$small-grid: 767px;
$xsmall-grid: 480px;
$xxsmall-grid: 320px;

/*================ Global Input Variables ================*/

$input-height: 40px;
$input-padding: 0 10px;

/*================ Spacing Variables ================*/

$spacing-d: 75px;
$spacing-m: 45px;
$spacing-screen: 3vw;
