/*
 * TranslateY
 */

@mixin translateY($args) {
  -webkit-transform: translateY($args);
    -moz-transform: translateY($args);
    -ms-transform: translateY($args);
    transform: translateY($args);
}

/*
 * TranslateX
 */

@mixin translateX($args) {
  -webkit-transform: translateX($args);
    -moz-transform: translateX($args);
    -ms-transform: translateX($args);
    transform: translateX($args);
}

/*
 * Transitions
 */

@mixin transitionAll($args) {
  -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}
