/*
 * Font Stacks
 */

$main-font: 'Open Sans', sans-serif;
$sub-font: 'Open Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;

/*
 * Font Sizes
 */

$main-font-size: 1.625em; // 26px
$sub-font-size: 1.313em; // 21px
$body-size: 1.000em; // 16px

/*
 * Colours
 */

$main-color: #000000;
$body-color: #000000;
$sub-color: #000000;
$white: #ffffff;

/*
 * Media Queries
 */

$media-max: max-width;
$media-min: min-width;

/*
 * Grid Sizes
 */

$xlarge-grid: 1440px;
$large-grid: 1200px;
$medium-grid: 992px;
$small-grid: 768px;
$xsmall-grid: 480px;
$xxsmall-grid: 320px;

/*
 * Spacing
 */

$spacing: 100px;
$spacing-half: 50px;
