/*================ Spacing, Layout & Content Positioning ================*/

.spacing{
  padding-top: $spacing-d;
  padding-bottom: $spacing-d;
  @media only screen and ( $media-max : $small-grid ){
    padding-top: $spacing-m;
    padding-bottom: $spacing-m;
  }
}

.spacing_top{
  padding-top: $spacing-d;
  @media only screen and ( $media-max : $small-grid ){
    padding-top: $spacing-m;
  }
}

.spacing_btm{
  padding-bottom: $spacing-d;
  @media only screen and ( $media-max : $small-grid ){
    padding-bottom: $spacing-m;
  }
}

.no_padding{
  padding: 0;
}

.no_margin{
  margin: 0;
}
