/*================ Global Typography Styles ================*/

h1, h2, h3, h4, h5, h6,
.h-1, .h-2, .h-3, .h-4, .h-5, .h-6{
  font-family: $main-font;
  color: $body-color;
  margin: 0 0 20px 0;
}

h1,
.h-1{
  font-size: $heading-font-one-d;
  line-height: $heading-font-one-lh;
  font-weight: $font-weight-n;
  @media only screen and ( $media-max : $small-grid ){
    font-size: $heading-font-one-m;
  }
}

h2,
.h-2{
  font-size: $heading-font-two-d;
  line-height: $heading-font-two-lh;
  font-weight: $font-weight-n;
  @media only screen and ( $media-max : $small-grid ){
    font-size: $heading-font-two-m;
  }
}

h3,
.h-3{
  font-size: $heading-font-three-d;
  line-height: $heading-font-three-lh;
  font-weight: $font-weight-n;
  @media only screen and ( $media-max : $small-grid ){
    font-size: $heading-font-three-m;
  }
}

h4,
.h-4{
  font-size: $heading-font-four-d;
  line-height: $heading-font-four-lh;
  font-weight: $font-weight-n;
  @media only screen and ( $media-max : $small-grid ){
    font-size: $heading-font-four-m;
  }
}

h5,
.h-5{
  font-size: $heading-font-five-d;
  line-height: $heading-font-five-lh;
  font-weight: $font-weight-n;
  @media only screen and ( $media-max : $small-grid ){
    font-size: $heading-font-five-m;
  }
}

h6,
.h-6{
  font-size: $heading-font-six-d;
  line-height: $heading-font-six-lh;
  font-weight: $font-weight-n;
  @media only screen and ( $media-max : $small-grid ){
    font-size: $heading-font-six-m;
  }
}

p{
  font-size: $body-size-d;
  line-height: $paragraph-lh;
  font-weight: $font-weight-n;
  margin: 0 0 20px;
  @media only screen and ( $media-max : $small-grid ){
    font-size: $body-size-m;
  }
}
