// Font Stacks
$main-font: 'Open Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;
$sub-font: 'Open Sans', sans-serif;

// Font Sizes
$main-font-size: 2.250em; // 36px
$sub-font-size: 2.250em; // 36px
$body-size: 1.000em; // 16px

// Colour Pallet
$main-color: #000000;
$body-color: #000000;
$sub-color: #000000;
$white: #ffffff;

//Responsive Grid Sizes
$xlarge-grid: 1440px;
$large-grid: 1200px;
$medium-grid: 992px;
$small-grid: 768px;
$xsmall-grid: 480px;
$xxsmall-grid: 320px;

// Spacing
$spacing: 100px;
